<html>
<head>
	<title>{% block title %}{% endblock %}| Logit</title>
	<meta charset="utf-8">
<title>brokemenu</title>
	<link rel="stylesheet" href="{{url_for('static',  filename = 'css/main.css')}}" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	{% block head %}
	{% endblock %}

</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<p class="nav">
		<a href = "{{url_for('home')}}">Home</a> //
		{% if session['user_email'] %}
		<a href = "{{url_for('logout')}}">Logout</a> //
        {% else %}
		<a href = "{{url_for('login')}}">login</a> //
        {% endif %}
	</p>


    {% include 'includes/_navbar.html'%}
<div style="height: 45px;"></div> <!--empty white space that allows for feed to not be under the nav bar-->

	{% block body%}
	{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>

    </div>
</body>
</html>

